@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: 'Poppins';
    font-size: 8px;
    background-color: whitesmoke;
    box-sizing: border-box;
    --padding-from-image: 2rem;
    --button-color: #00021F;
    --logo-size: 6rem;
}

body {
    margin: 0;
    padding: 0;
}

#page {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#image-side {
    display: flex;
    background-image: url("../images/sky.jpg");
    background-position: 50% 50%;
    height: calc(100vh);
    width: 40vw;
    align-items: center;
}

#logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--logo-size) + 1);
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.5);
}

#logo {
    height: var(--logo-size);
    width: auto;
}

#logo-name {
    font-size: var(--logo-size);
}

#form-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    flex-grow: 2;
}

#title {
    display: flex;
    flex-direction: column;
    padding: var(--padding-from-image);
    gap: 1.5rem 0;
}

.title-text {
    font-size: 2.5rem;
    font-weight: 500;
}

.form-title-text {
    font-size: 2rem;
}

#form-box {
    background-color: white;
    box-shadow: 0 0 5px gray;
    padding: var(--padding-from-image);
}

#inputs {
    display: flex;
    gap: 20px;
}

#inputs {
    margin: 1rem 0;
}

#left-inputs,
#right-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}

#submit {
    padding: 1.5rem 5rem;
    margin: var(--padding-from-image);
    border-style: none;
    border-radius: 1.5rem;
    background-color: var(--button-color);
    color: white;
    font-weight: 500;
}